.header__navigation-item {
  font-family: 'Inter', "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
}

@media screen and (max-width: 425px) {
  .header__navigation-item {
    font-size: 14px;
    line-height: 17px;
  }
}

