@import url(./__avatar-container/profile__avatar-container.css);
@import url(./__avatar/profile__avatar.css);
@import url(./__info/profile__info.css);
@import url(./__title/profile__title.css);
@import url(./__description/profile__description.css);
@import url(./__edit-button/profile__edit-button.css);
@import url(./__add-button/profile__add-button.css);

.profile {
  margin: auto;
  max-width: 882px;
  padding: 40px 19px 0;
  display: grid;
  grid-template-columns: 120px auto 150px;
  grid-column-gap: 30px;
}

@media screen and (max-width: 760px){
  .profile {
    grid-template-columns: 120px  auto;
    grid-row-gap: 36px;
  }
}

@media screen and (max-width: 520px){
  .profile {
    grid-template-columns: 1fr;
    grid-row-gap: 36px;
    padding: 42px 19px 0;
  }
}

@media screen and (max-width: 320px){
  .profile {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    padding: 42px 19px 0;
  }
}
