.place__like {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url("../../../images/heart.svg");
  background-repeat: no-repeat;
  -webkit-background-size: 20.76px 18.13px;
  background-size: 20.76px 18.13px;
  background-position: center;
  /*Скрываем название кнопки*/
  text-indent: -9000px;
  border: none;
  cursor: pointer;
}

.place__like:hover {
  opacity: .6;
}
