/*Vendor*/
@import url(./vendor/normalize.css);
@import url(./vendor/fonts/Inter/inter.css);

/*Blocks*/
@import url(./blocks/root/root.css);
@import url(./blocks/header/header.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/places/places.css);
@import url(./blocks/place/place.css);
@import url(./blocks/form/form.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_type/popup_type_image.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/authorisation/authorisation.css);
@import url(./blocks/link/link.css);

@import url(./blocks/footer/footer.css);

